<h2>Profil bearbeiten</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, label: 'Benutzername', required: true, autofocus: true %>
    <%= f.input :telegram_id, label: 'Telegram ID', required: true, autofocus: true %>
    <%= f.input :email, label: 'E-Mail', required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "Freilassen um Passwort nicht zu ändern", required: false %>
    <%= f.input :password_confirmation, label: 'Passwort wiederholen', required: false %>
    <%= f.input :current_password, label: 'Aktuelles Passwort', hint: "Wird benötigt um Änderungen zu bestätigen", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Account löschen</h3>

<p><%= link_to "Löschen", registration_path(resource_name), class: "btn btn-danger",
               data: { confirm: "Account wirklich löschen?" },
               "data-confirm-fade" => true,
               "data-confirm-title" => 'Löschen bestätigen',
               "data-confirm-cancel" => 'Abbrechen',
               "data-confirm-proceed" => 'Ja',
               "data-confirm-cancel-class" => "btn-warning",
               "data-confirm-proceed-class" => "btn-danger",

               method: :delete %></p>

<%= link_to "Zurück", :back %>
