<div class="page-header">
  <h1>Über diese App</h1>
</div>
<p><h3><b><i>Private Remembrall App</i></b></h3></p>
<p><i>Um was gehts in dieser App und was kann sie?</i></br>
Remembrall ist dazu gedacht die alltäglichen Dinge des Lebens
besser in den Griff zu bekommen.</br>
Sie richtet sich zielgerecht an Menschen mit psychischer Beeinträchtigung,
welchen es meist schwer fällt diese Dinge zu bewältigen.</br>
Aus eigenen Erfahrungen ist es jedoch einfacher, diese Dinge mittels Smartphone-Erinnerung
in den Griff zu bekommen.</br>
Die entsprechenden Einträge können bequem am heimischen PC bearbeitet und
dann mittels Telegram abgerufen werden.Hierzu werden die sog. Bots von Telegram in Anspruch
genommen.</p>
</br>
</br>
<p><i>Wie benutze ich die App?</i></br>
Um dieses Programm benutzen Sie können, benötigen Sie erst einmal lediglich folgende Dinge:</br>
<ul>
	<li>Einen Rechner mit Internet-Verbindung</li>
	<li>Ein Smartphone mit installiertem Telegram-Messenger</li>
	<li>Die Gewissheit ob sie die App auf einem Windows oder Linux-Rechner verwenden wollen</li>
	<li>Grundlegende Kenntnisse in den zuvor genannten Punkten ;-) </li>
	<li>....und natürlich viel Spaß an der Freud ^^</li>
</ul>
</p>
</br>
</br>
<p><i>Wie richte ich die App ein?</i></br>
Gehen wir davon aus das sie einen Windoof-Rechner benutzen, wie soviele andere ihrer Mitmenschen auch,
dann gehen sie folgendermaßen vor:</br>
<ol>
	<li>Download des Archives bei <a href="http://struenzer.bplaced.de/index.php?option=com_jdownloads&view=download&id=3:remebrall_thiago&catid=3&Itemid=184" tagret=_blank>
	BFLmedia</a></li>
	<li>Entpacken des Zip-Archives auf deinem Rechner</li>
	<li>Anlegen eines Bots in Telegram ( /newbot an BotFather senden)</li>
	<li>Bot nach eigenen Wünschen anpassen</li>
	<li>ID des Bots auslesen ( /telegramid an Bot senden)</li>
	<li><a href="https://github.com/railsinstaller/railsinstaller-windows" target=_blank>
	Railsinstaller</a> herunterladen und installieren</li>
	<li>nun zwei "Prompt-Fenster" öffnen und in einem "rails s" und im anderen "rake telegram:bot:poller"</li>
	<li>Browser öffnen und zur Seite http://localhost:3000 navigieren</li>
	<li>Auf der sich nun öffnenden Seite unter Login->Registrieren einen neuen Account anlegen</li>
	<li>Nun unter Profil bearbeiten->Telegram ID die zuvor ausgelesene ID des Bots eintragen!</li>
	<b>FERTIG!</b> Die App ist nun funktionsbereit!</br>
	<li>Nun einmal ein paar Testeinträge unter Module->Haushaltsplan anlegen und versuchen
	diese über den Telegram-Messenger ab zu rufen. ( /housekeeping im Bot eingeben)</li>
	<li>Geldbeutel checken!</li>
	<li>Paypal-Konto checken!</li>
	<li>Konto-Auszüge checken!</li>
	<li>Überlegen ob einem dieses nette "Äppschen" nicht eine kleine Spende an die Entwickler
	wert sein dürfte ;-)</li>
	
</ol>
</p>
</br>
</br>
<p><i>Wo bekomme ich Hilfe wenn ich einmal nicht weiterkommen sollte?</i></br>
Sollten sie einmal nicht mehr weiter kommen oder Probleme/Fragen
auftreten dann posten Sie doch einfach in unserem <a href="http://struenzer.bplaced.de/index.php?option=com_kunena&view=category&catid=15&Itemid=243" target=_blank>
Supportforum"</a></br>
In dringenden Fällen können Sie uns auch direkt kontaktieren, wie dies geht erfahren Sie ebenfalls
auf den Seiten von <a href="http://www.bflmedia.rockt.es" target=_blank>BFLmedia</a>
</p>