<div class="page-header">
<h2>Willkommen!</h2>
</div>
<p>Dies ist die Beta-Version von Remembrall V1.0</p>
<p>Fragen rund um die Handhabung und Bedienung können Sie gerne jederzeit in unserem
<a href="http://struenzer.bplaced.de/index.php?option=com_kunena&view=category&catid=15&Itemid=243" target="_blank">
Supportforum</a> bei <a href="https://www.facebook.com/BFLmedia" target=_blank>BFLmedia</a> stellen.</p>

