<div class="page-header">
<h2>Einloggen</h2>
</div>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, label: 'Passwort', required: false %>
    <%= f.input :remember_me, label: 'Eingeloggt bleiben', as: :boolean if devise_mapping.rememberable? %>
  </div>
    <div class="row">
      <div class="col-md-4">


  <div class="form-actions">
    <%= f.button :submit, "Einloggen" %>
  </div>
      </div>
      <div class="col-md-4 col-md-offset-4">
    <%= render "devise/shared/links" %>
      </div>
    </div>
<% end %>


