<%= simple_form_for(@housekeeping) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :descr, label: 'Beschreibung' %>
    <%= f.input :schedule, as: :schedule, label: 'Fällig' %>
    <%= f.input :remember, label: 'Erinnern' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script type="text/javascript">
    $("option[value='singular']").remove();
    </script>
