
<div class="page-header">
<h1>Eintrag bearbeiten</h1>
</div>
<%= render 'form', housekeeping: @housekeeping %>
<p>
<%= link_to 'Zurück', housekeepings_path %> |
  <%= link_to 'Anzeigen', @housekeeping %></p>
