<div class="page-header">
<h2>Haushaltsplan</h2>
</div>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Fällig</th>
    <th>Uhrzeit</th>
    <th>Erinnern</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @housekeepings.each do |housekeeping| %>
      <tr>
        <td><%= housekeeping.name %></td>
        <td><%= housekeeping.schedule %></td>
        <td><%= housekeeping.schedule.time.strftime('%H:%M Uhr') %></td>
        <td><%= t(housekeeping.remember.to_s) %></td>
        <td><%= link_to t('housekeeping.show'), housekeeping %></td>
        <td><%= link_to t('housekeeping.edit'), edit_housekeeping_path(housekeeping) %></td>
        <td>
          <%= link_to t('housekeeping.destroy'), housekeeping, method: :delete, data: {confirm: t('housekeeping.confirm_message')},
                      'data-confirm-fade' => true, 'data-confirm-title' => t('housekeeping.confirm_title'),
                      'data-confirm-cancel-class' => 'btn btn-default',
                      'data-confirm-cancel' => 'Nein',
                      'data-confirm-proceed-class' => 'btn btn-danger',
                      'data-confirm-proceed' => 'Ja'
          %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Neuer Eintrag', new_housekeeping_path, class: 'btn btn-default' %>

