
  <div class="page-header"><h1>Plan</h1></div>
<div class="panel panel-default">
  <div class="panel-body">


      <div class="col-md-2">
      <strong>Name:</strong>
      </div>
      <div class="col-md-10">
    <%= @housekeeping.name %>
      </div>

    <br/>
    <div class="col-md-2">
      <strong>Beschreibung:</strong>
    </div>
    <div class="col-md-10">
      <p> <%= @housekeeping.descr %> &nbsp;</p>
    </div>


    <div class="col-lg-2">
      <strong>Fällig:</strong>
    </div>
    <div class="col-lg-10">
      <%= @housekeeping.schedule %>
    </div>

    <div class="col-lg-2">
      <strong>Uhrzeit:</strong>
    </div>
    <div class="col-lg-10">
      <%= I18n.l(@housekeeping.schedule.time, format: :short) %>
    </div>

    <p class="col-lg-2">
      <strong>Erinnern:</strong>
    </p>
    <div class="col-lg-10">
      <%= t(@housekeeping.remember.to_s) %>
    </div>

  </div>

  <div class="panel-footer">
    <%= link_to 'Zurück', housekeepings_path %>|
    <%= link_to 'Bearbeiten', edit_housekeeping_path(@housekeeping) %>

  </div>
</div>