<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Remembrall" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

  <%= nav_bar static: :top, brand: "Remembrall V1.0", :inverse => true, class: 'navbar-inverse'   do %>

      <%= menu_group do %>
          <%= menu_item "Home", root_path %>
          <%= menu_divider %>
          <%= menu_item "About", home_about_path %>
          <% if user_signed_in? %>
              <%= drop_down "Module" do %>
                  <%= menu_item "Haushaltsplan", housekeepings_path %>
              <% end %>
          <% end %>
      <% end %>
      <%= menu_group pull: :right do %>
          <% if user_signed_in? %>
              <%= menu_text "Hallo #{current_user.username}" %>
              <%= menu_item 'Profil bearbeiten', edit_user_registration_path %>
              <%= menu_divider %>
              <%= menu_item "Log Out", destroy_user_session_path, method: :delete %>
          <% else %>
              <%= menu_item "Login", new_user_session_path %>
          <% end %>

      <% end %>

  <% end %>

  <!--
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Remembrall</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><#%= link_to "Link1", "/path1"  %></li>
            <li><#%= link_to "Link2", "/path2"  %></li>
            <li><#%= link_to "Link3", "/path3"  %></li>
          </ul>
        </div>
      </div>
    </div>-->

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <div class="panel panel-default">
            <div class="panel-body">
          <%= yield %>
            </div>
          </div>
        </div>

      </div><!--/row-->

      <footer>
        <p>&copy; Thiago Zimmermann 2017 - supported by BFLmedia-Bernd Fischer</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
<% if Rails.env.development? %>
<% console %>
<% end %>